.navBar{
    color: white;
    text-align: center;
    border: 3px solid rgb(0, 24, 0);
    background-color: rgb(1, 36, 1);
    margin: 5px;
}




a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
}

a:hover{
  text-decoration: underline white;
}

a:focus{
  text-decoration: underline white;
}

