html{
    background-image: linear-gradient(rgb(1, 68, 18), rgb(0, 158, 26));
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

body{
     margin: 0px;
    padding: 0;
}

